

<h4>NN stuff here</h4>

<textarea cols="120" rows="10" #mytextarea [(ngModel)]="textToAnalyze" (keyup)="currentTextSubject.next(mytextarea.value)"></textarea>

<!-- <button (click)="analyzeByNN()">Analyze</button> -->

<div *ngIf="nnResults" class="well">
  <div *ngFor="let nnResult of nnResults">
<span  *ngFor="let tokenInfo of nnResult.tokensInfo">
<em style="text-decoration: underline;" [style.color]="getTokenStyle(tokenInfo)">{{tokenInfo.token}}</em>
<i *ngIf="tokenInfo.entity!=='N'" [style.color]="getEntityStyle(tokenInfo)">({{tokenInfo.entity}})</i>
</span><br/>
</div>
</div>
